.textod {
    text-align: center;

}




.iz {

    width: 30%;
    background-color: #e4b9b5;
    
    color: white;
    padding: 20px;

    text-align: center;

    .container {
        text-align: right;
    }
}
h3{
    text-align: left;
    background-color: #f8d9de;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.iz img {
    display: block;
    margin: 0 auto 25px auto;
    border-radius: 10%;
}


h1{
    text-align: top;
}
 

.der{
    text-align: left;
}